In [2]:
import pandas as pd

In [3]:
pd.read_csv('Internet Speed 2022.csv')

               country  broadband  mobile
0               Monaco     261.82     NaN
1            Singapore     255.83  105.01
2            Hong Kong     254.70   83.58
3              Romania     232.17   59.67
4          Switzerland     229.96  135.70
..                 ...        ...     ...
172  Equatorial Guinea       7.95     NaN
173              Sudan       7.92   14.51
174              Yemen       7.59     NaN
175       Turkmenistan       4.11     NaN
176               Cuba       4.01   25.02

[177 rows x 3 columns]

In [ ]:
#create dictionary of 3 columns
#insert it into radial chart code